@model COC.Models.AllData

@{
    ViewBag.Title = "Home Page";
}


<!-- SLIDER -->
<section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        
        <div class="carousel-inner">

            <div class="item slider1 active">
                <img src="~/images/slider/5.jpg" alt="">
                <div class="carousel-caption slider-con">
                    <h2>Welcome to <span>Computer Collage</span></h2>

                    
                </div>
            </div>
            @foreach (var item in Model.Newsobj)
            {
                if (item.Highlight == true)
                {
                    <div class="item">
                        <img src="@item.ImageUrl" alt="">
                        <div class="carousel-caption slider-con">
                            <h2>@item.Title </h2>
                           
                            <a href="/Home/NewsDetails?newsid=@item.Id" class="bann-btn-1">Read More</a>
                           
                        </div>
                    </div>
                }
            }
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <i class="fa fa-chevron-left slider-arr"></i>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <i class="fa fa-chevron-right slider-arr"></i>
        </a>
    </div>
</section>



<!-- DISCOVER MORE -->
<section>
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="con-title">
                <h2>Discover <span>More</span></h2>
               
            </div>
        </div>
        <div class="row">
            <div class="ed-course">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    @for (int i = 0; i < Model.DiscoverObj.Count; i += 4)
                    {


                        <div class="ed-course-in">

                            <a class="course-overlay" href="/Home/DiscoverDetails?Discid=@Model.DiscoverObj[i].Id ">

                                <img src="@Model.DiscoverObj[i].ImageUrl" width="686px" height="534px" alt="">
                                <span>@Model.DiscoverObj[i].Title</span>

                            </a>
                        </div>}
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    @for (int i = 1; i < Model.DiscoverObj.Count; i += 4)

                    {
                        <div class="ed-course-in">

                            <a class="course-overlay" href="/Home/DiscoverDetails?Discid=@Model.DiscoverObj[i].Id ">

                                <img src="@Model.DiscoverObj[i].ImageUrl" width="686px" height="534px" alt="">
                                <span>@Model.DiscoverObj[i].Title</span>

                            </a>
                        </div>}
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    @for (int i = 2; i < Model.DiscoverObj.Count; i += 4)

                    {
                        <div class="ed-course-in">

                            <a class="course-overlay" href="/Home/DiscoverDetails?Discid=@Model.DiscoverObj[i].Id ">

                                <img src="@Model.DiscoverObj[i].ImageUrl" width="686px" height="534px" alt="">
                                <span>@Model.DiscoverObj[i].Title</span>

                            </a>
                        </div>}
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    @for (int i = 3; i < Model.DiscoverObj.Count; i += 4)

                    {
                        <div class="ed-course-in">

                            <a class="course-overlay" href="/Home/DiscoverDetails?Discid=@Model.DiscoverObj[i].Id ">

                                <img src="@Model.DiscoverObj[i].ImageUrl" width="686px" height="534px" alt="">
                                <span>@Model.DiscoverObj[i].Title</span>

                            </a>
                        </div>}
                </div>

            </div>
        </div>
    </div>
</section>

<!--News -->
<section class="pop-cour">
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="con-title">
                <h2>Latest <span>News</span></h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <!--POPULAR COURSES-->

                    @for (int i = 0; i < Model.Newsobj.Count; i += 2)
                    {

                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="@Model.Newsobj[i].ImageUrl" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="/Home/NewsDetails?newsid=@Model.Newsobj[i].Id">
                                    <h3>@Model.Newsobj[i].Title</h3>
                                </a>



                                <p style="width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">@Model.Newsobj[i].Content</p> 
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="/Home/NewsDetails?newsid=@Model.Newsobj[i].Id"><i class="fa fa-bar-chart" aria-hidden="true"></i> More Details</a> </li>
                                         </ul>
                                </div>
                            </div>
                        </div>
                    }
                    <!--POPULAR COURSES-->

                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <!--POPULAR COURSES-->

                    @for (int i = 1; i < Model.Newsobj.Count; i += 2)
                    {

                        <div class="home-top-cour">
                            POPULAR COURSES IMAGE
                            <div class="col-md-3"> <img src="@Model.Newsobj[i].ImageUrl" alt=""> </div>
                            POPULAR COURSES: CONTENT
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="/Home/NewsDetails?newsid=@Model.Newsobj[i].Id">
                                    <h3>@Model.Newsobj[i].Title</h3>
                                </a>

                                <p style="width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">@Model.Newsobj[i].Content</p> 
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="/Home/NewsDetails?newsid=@Model.Newsobj[i].Id"><i class="fa fa-bar-chart" aria-hidden="true"></i>  More Details </a> </li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                    }

                  
                </div>
            </div>
        </div>
    </div>
</section>



<!-- NEWS AND EVENTS -->
<section>
    <div class="container com-sp">
        <div class="row">
            <div class="con-title">
                <h2>News and <span>Events</span></h2>
              
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="bot-gal h-gal ho-event-mob-bot-sp">
                    <h4>Photo Gallery</h4>
                    <ul>
                        @foreach (var item in Model.photosobj)
                        {


                            <li>
                                <img class="materialboxed" data-caption="Education master image captions" src="@item.ImageUrl" alt="">
                            </li>
                        }
                      
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bot-gal h-vid ho-event-mob-bot-sp">

                    <h4>Video Gallery</h4>
                   
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/XYhTJBRhLIo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="bot-gal h-blog ho-event">
                    <h4> Events</h4>
                    <div class="ho-event">
                        <ul>
                            @foreach (var item in Model.Eventobj)
                            {
                                <li>
                                    <div class="ho-ev-date">
                                        <span>@item.StartDate.Value.Day</span><span>@item.StartDate.Value.Month @item.StartDate.Value.Year </span>
                                    </div>
                                    <div class="ho-ev-link">
                                        <a href="/Home/EventDetails?Eventid=@item.Id">
                                             
                                            <h4>@item.Title</h4>
                                        </a>
                                        <p>@item.Content</p>
                                        <span>Time: @item.EndDate.Value.Hour</span>
                                    </div>
                                </li>
                            }
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
